<div class="container d-flex align-items-center justify-content-center">
  <form
    class="align-items-center col-md-7 spacing-form section-main"
    (ngSubmit)="sendLogin()"
    [formGroup]="loginForm"
  >
    <div class="login-wrap">
      <div class=" "></div>

      <h3 class="mb-2">Se Connecter</h3>
      <p class="">Sign in by entering the information below</p>
      <div class="section-separator"></div>

      <div class="mb-3">
        <label for="userEmail" class="mb-2">
          Email :
        </label>

        <input
          type="email"
          class="form-control"
          formControlName="userEmail"
          [ngClass]="{
            'is-invalid':
              loginForm.get('userEmail')?.touched &&
              loginForm.get('userEmail')?.touched
          }"
        />

        <div
          *ngIf="
            loginForm.get('userEmail')?.touched &&
            loginForm.get('userEmail')?.invalid
          "
          class="invalid-feedback mb-2"
        >
          <div *ngIf="loginForm.get('userEmail')?.errors?.['required']">
            {{ 'form.champ_oblig' | translate }}
          </div>
          <div *ngIf="loginForm.get('userEmail')?.errors?.['email']">
            {{ 'form.email' | translate }}
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label for="password" class="mb-2">
          Password :
        </label>

        <input
          type="email"
          class="form-control"
          formControlName="password"
          [ngClass]="{
            'is-invalid':
              loginForm.get('password')?.touched &&
              loginForm.get('password')?.touched
          }"
        />
        <div
          *ngIf="
            loginForm.get('password')?.touched &&
            loginForm.get('password')?.invalid
          "
          class="invalid-feedback mb-2"
        >
          <div *ngIf="loginForm.get('password')?.errors?.['required']">
            {{ 'form.champ_oblig' | translate }}
          </div>
        </div>
      </div>
      <div class="text-end">
        <!-- Simple link -->
        <a href="#!">Forgot password?</a>
      </div>
      <div class="text-center mb-2">
        <button type="submit" class="btn btn-outline-info px-5">
          Se Connecter
        </button>
      </div>
      <div class="">
        <div class="text-center">
          <p>
            Not a member?
            <a href="/register">Register</a>
          </p>
        </div>
      </div>
    </div>
  </form>
</div>
